* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Miata';
    src: url(fonts/miata.woff);
}

@font-face {
    font-family: 'Race Sport';
    src: url(fonts/Race\ Sport.woff);
}

body {
    padding: 25px;
    text-align: center;
}

h1 {
    font-family: 'Race Sport';
    font-size: x-large;
    padding-bottom: 10px;
}

#miata {
    font-family: 'Miata';
    font-size: 2.5rem;
    color: #22883c;
}

menu {
    display: flex;
    justify-content: center;
}

menu li {
    list-style: none;
}

menu button {
    font-family: 'Race Sport';
    background-color: inherit;
    border: none;
    cursor: pointer;
    padding: 12px 14px;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.1);
}

.active {
    color: #22883c;
    text-shadow: 3px 3px 3px #ccc;
}

main {
    padding: 50px;
    display: flex;
    justify-content: center;
}

section {
    display: none;
    animation: fadeEffect 1s;
    background-color: transparent;
    width: 740px;
    height: 498px;
    perspective: 1000px;
}
  
figure {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    box-shadow: 7px 7px 7px #ccc;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
section:hover > figure {
    transform: rotateY(180deg);
    cursor: pointer;
}
  
.pic, figcaption {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
  
.pic {
    background-color: #bbb;
    color: black;
}
  
figcaption {
    background-color: #eae7e6;
    text-align: left;
    transform: rotateY(180deg);
}

figcaption h2 {
    font-family: 'MedievalSharp';
    position: absolute;
    left: 25px;
    top: 100px;
}

figcaption ul {
    font-family: 'MedievalSharp', serif;
    list-style: none;
    position: absolute;
    right: 40px;
    top: 185px;
}

li {
    margin-bottom: 25px;
}

figcaption p {
    font-family: 'Homemade Apple', cursive;
    max-width: 50%;
    position: absolute;
    left: 35px;
    top: 140px;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

footer a {
    color: inherit;
    font-style: normal;
    text-decoration: none;
}